<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.AccessMapper">

    <!-- 结果映射 -->
    <resultMap id="AccessMap" type="com.tencent.wxcloudrun.model.Access">
        <id property="msgId" column="msg_id" />
        <result property="msgType" column="msg_type" />
        <result property="fromUserName" column="from_user_name" />
        <result property="toUserName" column="to_user_name" />
        <result property="createTime" column="create_time" />
        <result property="req" column="req" />
        <result property="rsp" column="rsp" />
    </resultMap>

    <!-- 插入访问记录 -->
    <insert id="insertAccess" parameterType="com.tencent.wxcloudrun.model.Access"> INSERT INTO
        t_access_record ( msg_id, msg_type, from_user_name, to_user_name, create_time, req, rsp )
        VALUES ( #{msgId}, #{msgType}, #{fromUserName}, #{toUserName}, #{createTime}, #{req}, #{rsp}
        ) </insert>
</mapper>
