<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.NotifyHistoryMapper">
    <!-- 结果映射 -->
    <resultMap id="NotifyHistoryMapper" type="com.tencent.wxcloudrun.entity.NotifyHistory">
        <id property="date" column="date"/>
        <result property="user" column="user"/>
        <result property="address" column="address"/>
    </resultMap>

    <!-- 插入通知记录 -->
    <insert id="insertNotifyHistory" parameterType="com.tencent.wxcloudrun.entity.NotifyHistory">
        INSERT IGNORE INTO t_notify_history (date, user, address) VALUES (#{date}, #{user}, #{address})
        <selectKey resultType="boolean" order="AFTER">
            SELECT row_count() > 0 AS success
        </selectKey>
    </insert>
</mapper>